@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* 폰트 */
@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquareR.otf') format('opentype');
}

@font-face {
  font-family: 'NanumSquareL';
  src: url('/fonts/NanumSquareL.otf') format('opentype');
}

@font-face {
  font-family: 'NanumSquareB';
  src: url('/fonts/NanumSquareB.otf') format('opentype');
}

@font-face {
  font-family: 'NanumSquareEB';
  src: url('/fonts/NanumSquareEB.otf') format('opentype');
}

/* 레이아웃 */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'NanumSquare';
  font-size: 16px;
  color: #191f28;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

.dfcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dfc {
  display: flex;
  align-items: center;
}
.fwl {
  font-family: 'NanumSquareL';
}
.fwb {
  font-family: 'NanumSquareB';
}
.fweb {
  font-family: 'NanumSquareEB';
}
.transparent {
  opacity: 0 !important;
}
.ease {
  transition: 0.3s ease;
}

/* 카테고리 */
.CategoryItem.Active {
  border-color: #3182f6;
}
.CategoryItem.Active a {
  color: #3182f6;
}
.CategoryItem:not(.Active):hover a {
  animation: font-color-change 2s infinite;
}

@keyframes font-color-change {
  25% {
    color: #26b0fa;
  }
  50% {
    color: #3182f6;
  }
  75% {
    color: #26b0fa;
  }
}

/* 메인 그리드 */
.PostListItem {
  width: calc(33.3333% - 10px);
}
.Img img {
  width: 100%;
  height: 200px;
}
